<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Farmacias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div id="mapamapbox">

    </div>
    <div>
        <!-- <p>Longitud: {{LngLat ? LngLat.lng :0 }}</p>
        <p>Latitud: {{LngLat ? LngLat.lat : 0}}</p> -->

        <ion-button color="primary" (click)="mostrarFarmacias()">
            Ver farmacias
        </ion-button>

    </div>

</ion-content>