<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            MAPAS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="contenido">
        <h1>Santa Fé y sus Farmacias</h1>
        <div>
            <p>En esta app se pueden visualizar todas las farmacias de la ciudad de Santa Fé - Argentina</p>
            <p>Si lo deseas puedes visualizar tu ubicación.</p>
            <p>Ambas opciones te permiten encontrar las farmacias más cercanas a tu ubicación.</p>
        </div>


    </div>
    <div class="contenido">
        Utilizamos <a href="https://www.mapbox.com" target="_blank">Mapbox <ion-icon name="open-outline"></ion-icon></a>
    </div>
    <div class="contenido">
        <h2>Gracias por la visita...</h2>

    </div>

</ion-content>